{% extends "base.html" %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block meta %}
<title>Social Login | Tech Job Alerts</title>
<meta name="robots" content="noindex, follow" />
{% endblock meta %}

{% block content %}

    <div class="px-6 mx-auto max-w-7xl">
      <form action="" method="post" no_visible_fields=True>
          {% csrf_token %}
          <button type="submit" class="rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
            Continue with {{ provider.name }} Authentication
          </button>
      </form>
    </div>

{% endblock content %}
