{% load mjml %}

{% mjml %}
<mjml>
  <mj-head>
    <mj-style>
      .item {
        display: inline-flex;
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #047857;
        background-color: #ECFDF5;
      }
    </mj-style>
  </mj-head>

  <mj-body>
    <mj-section background-color="#f9f9f9">
      <mj-column>
        <mj-text font-size="24px" font-weight="bold" color="#333333" align="center" padding="20px 0">
          Tech Job Alerts
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text font-size="16px" color="#666666" padding="5px 0">
          Here are the companies that are looking for people that know {{ subscriber.technology_selected }} ({{ post_count }}):
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column>
          {% for post in posts %}
            <mj-text font-size="18px" font-weight="bold" color="#333333" padding="10px 0">
              <a href="https://{{ site_url }}{{ post.get_absolute_url }}">
                {% if post.company.name %}
                  {{ post.company.name }}
                {% else %}
                  Stealth
                {% endif %}
              </a>
            </mj-text>

            <mj-text font-size="16px" color="#666666" padding="5px 0">
              Roles:
              {% for title in post.jobs.all %}
              <span class="item">
                {{ title.name }}
              </span>
              {% endfor %}
            </mj-text>

            <mj-text font-size="16px" color="#666666" padding="5px 0">
              Tech Stack:
              {% for technology in post.technologies.all %}
                <span class="item">{{ technology.name }}</span>
              {% endfor %}
            </mj-text>

            <mj-divider border-color="#cccccc" padding="10px 0" />
          {% endfor %}

          {% if posts.count == 0 %}
            <mj-text font-size="16px" color="#666666" padding="5px 0">
              There are no new companies that are looking for people who know {{ subscriber.technology_selected }}.
            </mj-text>
          {% endif %}

      </mj-column>
    </mj-section>

    <mj-section background-color="#f9f9f9">
      <mj-column>
          <mj-text font-size="18px" font-weight="bold" color="#333333" css-class="header">
            Friendly Ad
          </mj-text>
          <mj-text font-size="16px" color="#666666">
            If you are a company looking for the best employees, check out
            <a href="https://gettalentleads.com?utm_source=gettjalerts.com" target="_blank" font-size="16px" color="#007bff">
              TalentLeads
            </a>
          </mj-text>
      </mj-column>
    </mj-section>

  </mj-body>
</mjml>
{% endmjml %}
