{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<main class="bg-white lg:min-w-0 md:pt-10 lg:flex-1">
  <div class="relative max-w-4xl mx-auto">
    {% include "components/email-not-verified.html" with email_verified=email_verified %}
    <div class="pt-10 pb-16">
      <div class="px-4 sm:px-6 lg:px-0">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Settings</h1>
      </div>
      <div class="px-4 sm:px-6 lg:px-0">
        <div class="py-6">

          <div class="mt-4">
            <div class="md:grid md:grid-cols-3 md:gap-6">
              <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                  <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
                  <p class="mt-1 text-sm text-gray-600">
                    This information is used only by us to improve the communication. People outside don't have access to this information.
                  </p>
                </div>
              </div>
              <div class="mt-5 md:col-span-2 md:mt-0">
                {% include "account/components/personal-information-form.html" with form=form %}
              </div>
            </div>
          </div>

          <div class="block" aria-hidden="true">
            <div class="py-5">
              <div class="border-t border-gray-200"></div>
            </div>
          </div>

          <div class="mt-4">
            <div class="md:grid md:grid-cols-3 md:gap-6">
              <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                  <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Status:
                    <span class="text-green-700">
                      {% if user.paid %}
                        Pro
                      {% else %}
                        Free
                      {% endif %}
                    </span>
                  </h3>
                  <p class="mt-1 text-sm text-gray-600">
                    Here you can upgrade, cancel or change your payments information.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

  {% endblock content %}
