{% extends "base.html" %}
{% load widget_tweaks %}
{% load alert_extras %}

{% block meta %}
<title>Settings | Tech Job Alerts</title>
<meta name="robots" content="noindex, follow" />
{% endblock meta %}

{% block content %}

<main class="bg-white lg:min-w-0 md:pt-10 lg:flex-1">
  <div class="relative max-w-4xl mx-auto">
    {% include "components/email-not-verified.html" with email_verified=email_verified %}
    <div class="pt-10 pb-16">
      <div class="px-4 sm:px-6 lg:px-0">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Settings</h1>
      </div>
      <div class="px-4 sm:px-6 lg:px-0">
        <div class="py-6">

          <div class="mt-4">
            <div class="md:grid md:grid-cols-3 md:gap-6">
              <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                  <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
                  <p class="mt-1 text-sm text-gray-600">
                    This information is used only by us to improve the communication. People outside don't have access to this information.
                  </p>
                </div>
              </div>
              <div class="mt-5 md:col-span-2 md:mt-0">
                {% include "account/components/personal-information-form.html" with form=form %}
              </div>
            </div>
          </div>

          <div class="block" aria-hidden="true">
            <div class="py-5">
              <div class="border-t border-gray-200"></div>
            </div>
          </div>

          <div class="mt-4">
            <div class="px-4 sm:px-0">
              <h3 class="text-xl font-medium leading-6 text-gray-900">
                Alerts
              </h3>
              <div class="flow-root mt-4">
                <div class="-mx-4 -my-2 overflow-x-auto">
                  <div class="inline-block min-w-full px-2 py-2 align-middle">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                      <table class="min-w-full divide-y divide-gray-300">
                        <tbody class="bg-white divide-y divide-gray-200">
                          {% for alert in alerts %}
                          <tr>
                            <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-6">{{ alert | show_default_alert_name:forloop.counter }}</td>
                            <td class="px-3 py-4 text-sm text-right text-gray-500 whitespace-nowrap">
                              <form method="post" action="{% url 'toggle_subscription_from_authed_alert' alert.id %}">
                                {% csrf_token %}
                                <button
                                  class="
                                    rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                                    {% if alert.unsubscribed %}
                                    bg-green-600 focus-visible:outline-green-600 hover:bg-green-500
                                    {% else %}
                                    bg-red-600 focus-visible:outline-red-600 hover:bg-red-500
                                    {% endif %}
                                  "
                                  type="submit">
                                  {% if alert.unsubscribed %}Subscribe{% else %}Unsubscribe{% endif %}
                                </button>
                              </form>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

  {% endblock content %}
