{% extends "base.html" %}
{% load markdown_extras %}
{% load widget_tweaks %}
{% load webpack_loader static %}
{% load url_utils %}
{% load date_utils %}

{% block meta %}
<title>{{ title }}</title>
<meta name="description" content="Jobs that match these keywords: {{ keywords }}. From {{ date }}." />
<meta name="keywords" content="{{ keywords }}" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="{{ canonical_url }}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ canonical_url }}" />
<meta property="og:description" content="Jobs that match these keywords: {{ keywords }}. From {{ date }}." />
<meta property="og:image" content="{{ SITE_URL }}{% static 'vendors/images/logo.png' %}" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:site" content="@rasulkireev" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="Jobs that match these keywords: {{ keywords }}. From {{ date }}." />
<meta name="twitter:image" content="{{ SITE_URL }}{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}
<div class="grid overflow-hidden grid-cols-12 gap-2 mx-auto mt-10 mb-16 max-w-7xl bg-white sm:mb-24">
  <div data-controller="dialog" data-action="click->dialog#backdropClose" class="col-span-12 px-2 rounded-md border border-gray-200 md:col-span-3 sm:px-4 sm:pt-4">

    <dialog data-dialog-target="dialog" class="p-4 max-w-2xl rounded">
      <div data-controller="textarea" class="mt-3 text-center sm:mx-4 sm:mt-0 sm:text-left">
        <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Create Custom Alert</h3>
        {% if request.user.is_authenticated %}
            {% if custom_alert_filters|length <= 2 %}
                <p class="prose">Please apply at least 1 filter to create a custom alert.</p>
            {% else %}
                <form action="{% url 'create-custom-alert' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <div>
                      <label for="name" class="block text-sm font-medium leading-6 text-left text-gray-900">Name</label>
                      {% render_field CustomAlertForm.name id="name" name="name" type="text" required="True" class="block px-2 py-1.5 w-full text-gray-900 rounded-md border-0 ring-1 ring-inset ring-gray-300 shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6" %}
                  </div>
                  {% render_field CustomAlertForm.email id="email" name="email" type="email" value=request.user.email autocomplete="email" readonly="True" required="True" class="hidden" %}
                  {% render_field CustomAlertForm.filter value=custom_alert_filters required="True" class="hidden" %}
                    <div class="flex flex-row justify-end mt-2 space-x-3">
                        <button
                          type="button"
                          data-action="dialog#close"
                          class="inline-flex justify-center px-3 py-2 mt-3 w-full text-sm font-semibold text-gray-900 bg-white rounded-md ring-1 ring-inset ring-gray-300 shadow-sm hover:bg-gray-50 sm:mt-0 sm:w-auto"
                          >
                          Cancel
                        </button>
                            <button
                          type="submit"
                          autofocus
                          class="inline-flex justify-center px-3 py-2 w-full text-sm font-semibold text-white bg-green-600 rounded-md shadow-sm hover:bg-green-500 sm:ml-3 sm:w-auto"
                          >
                          Save
                        </button>
                    </div>
                </form>
            {% endif %}
        {% else %}
            <p class="prose">Please <a href="{% url 'account_login' %}">login</a> to create custom alerts.</p>
        {% endif %}
      </div>

    </dialog>

    <form method="get">
        <div data-controller="dropdown" class="py-2">
          <div data-dropdown-target="menu" class="flex flex-row justify-between">
            <label class="font-medium text-gray-900">Sort by</label>
          </div>
          <div class="my-2">
            {% render_field filter.form.o id="order" name="order" class="block py-1.5 pr-10 pl-3 -mt-1 w-full text-gray-900 rounded border-0 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6" %}
          </div>
        </div>
        <div class="py-2">
          <div class="flex flex-row justify-between">
            <label class="font-medium text-gray-900">Search</label>
          </div>
          <div class="my-2">
            {% render_field filter.form.vector id="vector" placeholder="e.g. green tech" name="vector" class="block py-1.5 pr-10 pl-3 -mt-1 w-full text-gray-900 rounded border-0 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6" %}
          </div>
        </div>
        <div class="py-2">
          <div class="flex flex-row justify-between">
            <div class="font-medium text-gray-900">Location</div>
          </div>
          <div class="my-2">
          {% render_field filter.form.locations id="locations" placeholder="e.g. New York" name="locations" class="block py-1.5 pr-10 pl-3 -mt-1 w-full text-gray-900 rounded border-0 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6" %}
          </div>
        </div>
        <div class="py-2">
          <div class="flex flex-row justify-between">
            <label for="compensation_summary__isempty" class="font-medium text-gray-900">Has Compensation Summary</label>
          </div>
          {% render_field filter.form.compensation_summary__isempty id="compensation_summary__isempty" name="compensation_summary__isempty" class="block py-1.5 pr-10 pl-3 mt-2 w-full text-gray-900 rounded border-0 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6" %}
        </div>
        <div class="py-2">
          <div class="flex flex-row justify-between">
            <label for="emails__isempty" class="font-medium text-gray-900">Has Contact Info</label>
          </div>
          {% render_field filter.form.emails__isempty id="emails__isempty" name="emails__isempty" class="block py-1.5 pr-10 pl-3 mt-2 w-full text-gray-900 rounded border-0 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6" %}
        </div>
        <div class="py-2">
          <div class="flex flex-row justify-between">
            <label for="is_remote" class="font-medium text-gray-900">Remote</label>
          </div>
          {% render_field filter.form.is_remote id="is_remote" name="is_remote" class="block py-1.5 pr-10 pl-3 mt-2 w-full text-gray-900 rounded border-0 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6" %}
        </div>
        <div class="py-2">
          <div class="flex flex-row justify-between">
            <label for="is_onsite" class="font-medium text-gray-900">Onsite</label>
          </div>
          {% render_field filter.form.is_onsite id="is_onsite" name="is_onsite" class="block py-1.5 pr-10 pl-3 mt-2 w-full text-gray-900 rounded border-0 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6" %}
        </div>

        <div
          data-controller="reveal search-and-select"
          data-search-and-select-search-url-value="/api/technologies/search"
          data-search-and-select-detail-url-value="/api/technology"
          data-search-and-select-type-value="technologies"
          class="py-2"
        >
          <div class="flex flex-row justify-between p-2 rounded-md hover:bg-slate-100" data-action="click->reveal#toggle">
            <label for="technologies_used" class="font-medium text-gray-900">Tech Stack</label>
            <button type="button" class="p-1 rounded-full hover:bg-gray-100">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
            </button>
          </div>
          <div data-reveal-target="item">
            <div>
              <input
                type="text"
                data-search-and-select-target="search"
                data-action="input->search-and-select#search"
                placeholder="Search technologies..."
                class="block py-1.5 pr-10 pl-3 w-full text-gray-900 rounded border-0 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6"
              />
            </div>
            <div
              data-search-and-select-target="selectedResults"
              class="my-2 mr-2"
            ></div>
            <div
              data-search-and-select-target="searchResults"
              class="overflow-auto px-2 mt-2 max-h-64 rounded"
            ></div>
          </div>
        </div>

        <div
          data-controller="reveal search-and-select"
          data-search-and-select-search-url-value="/api/title/search"
          data-search-and-select-detail-url-value="/api/title"
          data-search-and-select-type-value="titles"
          class="py-2"
        >
          <div class="flex flex-row justify-between p-2 rounded-md hover:bg-slate-100" data-action="click->reveal#toggle">
            <label for="technologies_used" class="font-medium text-gray-900">Title</label>
            <button type="button" class="p-1 rounded-full hover:bg-gray-100">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
            </button>
          </div>
          <div data-reveal-target="item">
            <div>
              <input
                type="text"
                data-search-and-select-target="search"
                data-action="input->search-and-select#search"
                placeholder="Search title..."
                class="block py-1.5 pr-10 pl-3 w-full text-gray-900 rounded border-0 ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6"
              />
            </div>
            <div
              data-search-and-select-target="selectedResults"
              class="my-2 mr-2"
            ></div>
            <div
              data-search-and-select-target="searchResults"
              class="overflow-auto px-2 mt-2 max-h-64 rounded"
            ></div>
          </div>
        </div>

        <div class="flex flex-row mt-2 space-x-2 w-full">
          <a href="{% url 'posts' %}" class="px-4 py-2 mb-4 w-1/2 text-base font-semibold text-center bg-gray-100 rounded-md shadow-sm hover:bg-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Reset</a>
          <button type="submit" class="px-4 py-2 mb-4 w-1/2 text-base font-semibold text-center text-white bg-blue-600 rounded-md shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Filter</button>
        </div>
        <button type="button" data-action="dialog#open" class="px-4 py-2 mb-4 w-full text-base font-semibold text-white bg-green-600 rounded-md shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">Create Alert</button>
    </form>
  </div>

  <div class="col-span-12 md:col-span-9">
    <ul role="list" class="flex flex-col space-y-2">
      {% for object in page_obj %}
        {% include "components/job-posting.html" with object=object show_name=True %}
        {% empty %}
        <div class="mx-auto my-16 max-w-2xl text-center">
          <p class="text-4xl font-semibold tracking-tight text-gray-900">No such jobs exist :(.</p>
        </div>
      {% endfor %}
    </ul>

    <nav class="flex justify-between items-center py-3 bg-white" aria-label="Pagination">
      <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
          Showing page
          <span class="font-medium">{{ page_obj.number }}</span>
          of
          <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
        </p>
      </div>

      <div class="flex flex-1 justify-between sm:justify-end">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}" class="inline-flex relative items-center px-3 py-2 text-sm font-semibold text-gray-900 bg-white rounded-md ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>

        {% endif %}

        {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' page_obj.next_page_number %}" class="inline-flex relative items-center px-3 py-2 ml-3 text-sm font-semibold text-gray-900 bg-white rounded-md ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
        {% endif %}
      </div>
    </nav>
  </div>
</div>
{% endblock content %}

{% block schema %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "{{ title }}",
  "description": "Jobs that match these keywords: {{ keywords }}. From {{ date }}.",
  "itemListElement": [{% for job in page_obj %}
    {
      "@type": "ListItem",
      "position": {{ forloop.counter }},
      "url": "{{ SITE_URL }}{% url 'post' job.id %}",
      "item": {
        "@type": "JobPosting",
        "name": "{{ job.titles.all.0.name|default:'Developer'|replace_quotes }}",
        "title": "{{ job.titles.all.0.name|default:'Developer'|replace_quotes }}",
        "jobLocation": {
          "@type": "Place",
          "address": {% if job.locations %}"{{ job.locations }}"{% else %}"Remote"{% endif %}
        },
        "description": "{{ job.description|safe|replace_quotes }}",
        "datePosted": "{{ job.submitted_datetime|date:'Y-m-d' }}",
        "validThrough": "{{ job.submitted_datetime|plus_days:30|date:'Y-m-d' }}",
        "employmentType": "Full-time",
        {% if job.company_job_application_link %}"url": "{{ job.split_application_links.0 }}",
        "directApply": true,{% endif %}
        "hiringOrganization": {
          "@type": "Organization",
          "name": "{{ job.company.name }}"{% if job.company.company_homepage_link %},
          "sameAs": "{{ job.company.fixed_company_homepage_link }}"{% endif %}
        }
      }
    }{% if not forloop.last %},{% endif %}
    {% endfor %}]
}
</script>
{% endblock schema %}
