{% extends "base.html" %}
{% load markdown_extras %}
{% load widget_tweaks %}
{% load webpack_loader static %}
{% load url_utils %}

{% block meta %}
<title>Companies that are hiring right now.</title>
<meta name="description" content="List of companies that are hiring right now." />
<meta name="keywords" content="companies, hiring, jobs" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="{{ SITE_URL }}{% url 'companies' %}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="Companies that are hiring right now." />
<meta property="og:url" content="{{ SITE_URL }}{% url 'companies' %}" />
<meta property="og:description" content="List of companies that are hiring right now." />
<meta property="og:image" content="{{ SITE_URL }}{% static 'vendors/images/logo.png' %}" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:site" content="@rasulkireev" />
<meta name="twitter:title" content="Companies that are hiring right now." />
<meta name="twitter:description" content="List of companies that are hiring right now." />
<meta name="twitter:image" content="{{ SITE_URL }}{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}
<div class="px-4 mx-auto space-y-10 max-w-7xl sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Companies that are hiring right now.</h1>
  </div>
  <div class="mx-auto max-w-xl">
    <ul role="list" class="ml-2 list-disc list-inside">
      {% for company in object_list %}
      <li class="mb-2">
        <a href="{% url 'company-jobs' company.slug %}" class="text-lg font-semibold leading-6 text-gray-900 link">
          {{ company.name }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}

{% block schema %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Companies that are hiring right now.",
  "description": "List of companies currently hiring",
  "itemListElement": [{% for company in object_list %}
    {
      "@type": "ListItem",
      "position": {{ forloop.counter }},
      "url": "{{ SITE_URL }}{% url 'company-jobs' company.slug %}",
      "item": {
        "@type": "Organization",
        "name": "{{ company.name }}"{% if company.company_homepage_link %},
        "sameAs": "{{ company.company_homepage_link }}"{% endif %}
      }
    }{% if not forloop.last %},{% endif %}
    {% endfor %}]
}
</script>
{% endblock schema %}
