{% extends "base.html" %}
{% load markdown_extras %}
{% load widget_tweaks %}
{% load webpack_loader static %}
{% load url_utils %}

{% block meta %}
<title>Top 10 Highest Paying Companies that use {{ tech_name }}</title>
<meta name="description" content="List of the top 10 highest paying companies that use {{ tech_name }}." />
<meta name="keywords" content="Tech Jobs, {{ tech_name }}, Highest Salaries, Highest {{ tech_name }} Salaries, Highest Paying {{ tech_name }} Companies" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="{{ canonical_url }}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="Top 10 Highest Paying Companies that use {{ tech_name }}" />
<meta property="og:url" content="{{ canonical_url }}" />
<meta property="og:description" content="List of the top 10 highest paying companies that use {{ tech_name }}." />
<meta property="og:image" content="{{ SITE_URL }}{% static 'vendors/images/logo.png' %}" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:site" content="@rasulkireev" />
<meta name="twitter:title" content="Top 10 Highest Paying Companies that use {{ tech_name }}" />
<meta name="twitter:description" content="List of the top 10 highest paying companies that use {{ tech_name }}." />
<meta name="twitter:image" content="{{ SITE_URL }}{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}
<article itemscope itemtype="https://schema.org/BlogPosting" itemid="{{ canonical_url }}">
    <div class="px-6 py-20 bg-white lg:px-8">
        <div class="mx-auto max-w-4xl text-base leading-7 text-gray-700">
        <p class="mb-10 text-right text-blue-700">
            → <a href="{% url 'posts' %}?technologies={{ tech_id }}">See more {{ tech_name }} job postings</a>
        </p>
        <header>
            <h1 itemprop="name" class="mt-2 text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                Top 10 Highest Paying Companies that use {{ tech_name }}
            </h1>

            <div class="hidden">
              <p>Posted by <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                  <span itemprop="name">
                    <a itemprop="url" href="https://www.rasulkireev.com/">Rasul Kireev</a>
                  </span>
                </span> in
                <span itemprop="locationCreated">Newark, NJ</span>
                on <time itemprop="datePublished" datetime="2024-01-01T17:30:57+01:00">Jan 01, 2024</time>
                , and updated on
                <time itemprop="dateModified" datetime="{{ latest_date }}">{{ latest_date }}</time>.
            </p>
            </div>
        </header>
        <section itemprop="abstract" class="hidden">
            <h2>Abstract</h2>
            <p>List of the top 10 highest paying companies that use {{ tech_name }}.</p>
        </section>
        <section itemprop="articleBody">
            <div class="mt-2">
              <ul role="list" class="mt-4 space-y-4 text-gray-600">
                {% if object_list %}
                  {% for object in object_list %}
                    <li class="px-4 rounded-md border border-gray-200 hover:bg-gray-50">
                      <a class="flex flex-col space-y-2 rounded-md divide-y" href="{% url 'post' object.id %}">
                        <div class="flex justify-between items-center py-2 w-full">
                          <div class="flex-1">
                            <div class="flex justify-between items-center">
                              <h2 class="text-lg font-medium text-gray-900 truncate">
                                {% if object.company.name %}
                                  {{ object.company.name }}
                                {% else %}
                                  Stealth
                                {% endif %}
                              </h2>
                            </div>
                            <p class="mt-2">
                              Here is what {{ object.company.name }} pays you: {{ object.compensation_summary }}.
                            </p>
                            <p class="mt-2">
                              {{ object.submitted_datetime|timesince }} ago {{ object.company.name }} created a job listing looking for
                              {% for title in object.titles.all %}
                              <span>{{ title.name }}{% include "components/comma.html" %}</span>
                              {% endfor %}
                            </p>
                            <p class="mt-2">
                              Folks at {{ object.company.name }} use
                              {% for technology in object.technologies.all %}
                                <span>{{ technology.name }}{% include "components/comma.html" %}</span>
                              {% endfor %} in their day to day.
                            </p>
                            <p class="mt-2">
                              {{ object.description }}
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                {% else %}
                  <p>No Companies Found that pay well found for this Technology.</p>
                {% endif %}
              </ul>
            </div>
        </section>
      </div>
    </div>
    <footer class="hidden">
        <p>Tagged with: <span itemprop="keywords">
            Tech Jobs, {{ tech_name }}, Highest Salaries, Highest {{ tech_name }} Salaries, Highest Paying {{ tech_name }} Companies
        </span>
        </p>
        <p itemprop="copyrightNotice">© {{ latest_date|date:"Y" }} <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <span itemprop="name">TJ Alerts</span>
          </span>
        </p>
      </footer>
</article>
<div class="p-6 mx-auto max-w-2xl rounded-md border border-gray-500">
    <div class="mx-auto text-center">
        <p class="mx-auto mb-2 text-xl font-semibold text-gray-900">
          Create your own personalized Job Alert
        </p>
        <div class="flex justify-center items-center">
          {% include "components/simple-alert-form.html" with create_alert_form=create_alert_form %}
        </div>
    </div>
</div>
{% endblock content %}
