{% extends "base.html" %}
{% load markdown_extras %}
{% load webpack_loader static %}
{% load widget_tweaks %}

{% block meta %}
<title>Tech Job Post - {{ object.company.name }}</title>
<meta name="description" content="{{ object.description }}" />
<link rel="canonical" href="https://{{ request.get_host }}/jobs/{{ object.id }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:title" content="Tech Job Post - {{ object.company.name }}" />
<meta name="twitter:description" content="{{ object.description }}" />
<meta name="twitter:image" content="https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}" />
<meta property="og:title" content="Tech Job Post - {{ object.company.name }}" />
<meta property="og:url" content="https://{{ request.get_host }}/jobs/{{ object.id }}" />
<meta property="og:description" content="{{ object.description }}" />
<meta property="og:image" content="https://{{ request.get_host }}{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}
<main class="max-w-4xl mx-auto mt-16 overflow-hidden">
    <div>
      <div class="flex items-end justify-between pb-2 border-b">
        <div class="flex flex-col">
          <div class="flex items-center space-x-3">
            <h3 class="text-lg font-medium text-gray-900 truncate">
              <a href="{% url 'post' object.id %}">
                {{ object.company.name }}
              </a>
            </h3>
            {% if object.company.company_homepage_link %}
            <a href="{{ object.company.fixed_company_homepage_link }}" target="_blank">
              <img class="w-4 h-4" src="{% static 'vendors/images/external_link.svg' %}" alt="External Link" />
            </a>
            {% endif %}
          </div>
          {% if object.company_job_application_link %}
          <div>
            <a href="{{ object.split_application_links.0 }}" target="_blank"
              class="mt-1 text-sm text-gray-500 truncate">
              Application Link
            </a>
          </div>
          {% endif %}
        </div>
        <p class="text-gray-500">Posted {{ object.submitted_datetime|timesince }} ago</p>
      </div>

      {% if object.jobs.all.count == 1 and object.jobs.all.0.name == "" %}
      {% elif object.jobs.all.count >= 1 %}
      <div class="flex w-full py-2 border-b">
        <div>
          <h2 class="text-base">Roles</h2>
          {% for title in object.jobs.all %}
          <span
            class="inline-flex items-center px-2 py-1 my-1 text-sm font-medium text-green-700 rounded-md bg-green-50 ring-1 ring-inset ring-green-600/20">
            {{ title.name }}
          </span>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if object.technologies.all.count == 1 and object.technologies.all.0.name == "" %}
      {% elif object.technologies.all.count > 0 %}
      <div class="flex w-full py-2 border-b">
        <div>
          <h2 class="text-base">Tech Stack</h2>
          {% for technology in object.technologies.all %}
          <span
            class="inline-flex items-center px-2 py-1 my-1 text-sm font-medium text-green-700 rounded-md bg-green-50 ring-1 ring-inset ring-green-600/20">
            {{ technology.name }}
          </span>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if object.names_of_the_contact_person %}
      <div class="flex w-full py-2 border-b">
        <div>
          <h2 class="text-base">Contacts</h2>
          <p class="px-2 py-1 my-1 text-sm font-medium">{{ object.names_of_the_contact_person }}</p>
          <p class="px-2 py-1 my-1 text-sm font-medium">{{ object.emails }}</p>
        </div>
      </div>
      {% endif %}
      <div class="py-2">
        <h2 class="text-base">Description</h2>
        <div class="prose max-w-none">
          <p>{{ object.description }}</p>
        </div>
      </div>
    </div>

    <div class="max-w-lg p-6 mx-auto mt-10 border border-gray-500 rounded-md">
      <div class="mx-auto text-center">
          <p class="mx-auto mb-2 text-xl font-semibold text-gray-900">
            Create your own personalized Job Alert
          </p>
          <div class="flex items-end justify-center">
            <form
              action="{% url 'create-alert' %}"
              method="post"
              enctype="multipart/form-data"
              class="flex flex-row items-end space-x-1"
            >
            {% csrf_token %}
              <div>
                <label for="email" class="block text-sm font-medium leading-6 text-left text-gray-900">Email</label>
                {% render_field create_alert_form.email id="email" name="email" type="email" autocomplete="email" placeholder="you@example.com" required="True" class="block w-full px-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6" %}
              </div>

              <div>
                <label for="technology_selected" class="block text-sm font-medium leading-6 text-left text-gray-900">Tech</label>
                <div>
                  {% render_field create_alert_form.technology_selected list="job-technologies" id="technology_selected" name="technology_selected" type="text" placeholder="Select from the list" required="True" class="block w-full px-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6" %}
                  <datalist id="job-technologies">
                    {% for object in popular_technologies %}
                      <option value="{{ object.name }}"></option>
                    {% endfor %}
                  </datalist>
                </div>
              </div>

              <button
                type="submit"
                class="block px-3 py-2 text-sm font-semibold text-white bg-green-600 rounded-md shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
              >
                Create Alert
              </button>

            </form>
          </div>
      </div>
    </div>
</main>
{% endblock content %}

{% block schema %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "JobPosting",
      "name":"{{ object.jobs.all.0.name }}",
      "title":"{{ object.jobs.all.0.name }}",
      "jobLocation": {
        "@type": "Place",
        "address": "{{ object.locations }}"
      },
      "description": "{{ object.description }}",
      "datePosted": "{{ object.submitted_datetime }}",
      "employmentType": "full-time",
      "url": "{% if object.company_job_application_link %}{{ object.split_application_links.0 }}{% endif %}",
      "directApply": true,
      "hiringOrganization": {
        "@type": "Organization",
        "name": "{{ object.company.name }}",
        "url": "{% if object.company.company_homepage_link %}{{ object.company.fixed_company_homepage_link }}{% endif %}"
      }
    }
  </script>
{% endblock schema %}
