{% extends "base.html" %}
{% load markdown_extras %}
{% load webpack_loader static %}
{% load widget_tweaks %}
{% load date_utils %}
{% load url_utils %}

{% block meta %}
<title>{{ object.company.name }} is hiring - {{ object.created | date:"F Y" }}</title>
{% if is_old %}
<meta name="robots" content="noindex" />
{% endif %}
<meta name="description" content="{{ object.description }}" />
<link rel="canonical" href="{{ SITE_URL }}/jobs/{{ object.id }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:title" content="{{ object.company.name }} is hiring - {{ object.created | date:"F Y" }}" />
<meta name="twitter:description" content="{{ object.description }}" />
<meta name="twitter:image" content="{{ SITE_URL }}{% static 'vendors/images/logo.png' %}" />
<meta property="og:title" content="{{ object.company.name }} is hiring - {{ object.created | date:"F Y" }}" />
<meta property="og:url" content="{{ SITE_URL }}/jobs/{{ object.id }}" />
<meta property="og:description" content="{{ object.description }}" />
<meta property="og:image" content="{{ SITE_URL }}{% static 'vendors/images/logo.png' %}" />
{% endblock meta %}

{% block content %}
<main class="overflow-hidden mx-auto mt-16 max-w-4xl">
    <div class="px-4 py-2 rounded-md border border-gray-200">
      <div class="flex justify-between items-end pb-2 border-b">
        <div class="flex flex-col">
          <div class="flex items-center space-x-3">
            <h1 class="text-lg font-medium text-gray-900 truncate">
              <a href="{% url 'post' object.id %}">
                {% if object.company.name %}
                  {{ object.company.name }}
                {% else %}
                  Stealth Company
                {% endif %}
              </a>
            </h1>
            {% if object.company.company_homepage_link %}
            <a href="{{ object.company.fixed_company_homepage_link }}" target="_blank">
              <img class="w-4 h-4" src="{% static 'vendors/images/external_link.svg' %}" alt="External Link" />
            </a>
            {% endif %}
          </div>
          <div>
            {% if object.company_job_application_link %}
            <a href="{{ object.split_application_links.0 }}?utm_source=gettjalerts.com" target="_blank"
              class="mt-1 text-sm text-gray-500 truncate hover:border-b-2 hover:text-gray-600">
              Application Link
            </a>
            |
            {% endif %}
            {% if object.source == "Hacker News" %}
            <a href="https://news.ycombinator.com/item?id={{ object.who_is_hiring_comment_id }}&utm_source=gettjalerts.com" target="_blank"
              class="mt-1 text-sm text-gray-500 truncate hover:border-b-2 hover:text-gray-600">
              Hacker News Link
            </a>
            {% endif %}
          </div>
        </div>
        <p class="text-gray-500">Posted {{ object.submitted_datetime|timesince }} ago</p>
      </div>

      {% if object.titles.all.count == 1 and object.titles.all.0.name == "" %}
      {% elif object.titles.all.count >= 1 %}
      <div class="flex py-2 w-full border-b">
        <div>
          <h2 class="text-base font-semibold">Roles</h2>
          {% for title in object.titles.all %}
          <span
            class="inline-flex items-center px-2 py-1 my-1 text-sm font-medium text-green-700 bg-green-50 rounded-md ring-1 ring-inset ring-green-600/20">
            {{ title.name }}
          </span>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if object.compensation_summary %}
      <div class="flex py-2 w-full border-b">
        <div>
          <h2 class="text-base font-semibold">Compensation Summary</h2>
          <div class="max-w-none prose">
            <p>{{ object.compensation_summary }}</p>
          </div>
        </div>
      </div>
      {% endif %}

      {% if object.technologies.all.count == 1 and object.technologies.all.0.name == "" %}
      {% elif object.technologies.all.count > 0 %}
      <div class="flex py-2 w-full border-b">
        <div>
          <h2 class="text-base font-semibold">Tech Stack</h2>
          {% for technology in object.technologies.all %}
              {% include "components/technology-link.html" with technology=technology %}
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if object.locations %}
      <div class="flex py-2 w-full border-b">
        <div>
          <h2 class="text-base font-semibold">Locations</h2>
          <div class="max-w-none prose">
            <p>{{ object.locations }}</p>
          </div>
        </div>
      </div>
      {% endif %}

      {% if object.names_of_the_contact_person or object.emails %}
      <div class="flex py-2 w-full border-b">
        <div>
          <h2 class="text-base font-semibold">Contacts</h2>
          <p class="px-2 py-1 my-1 text-sm font-medium">{{ object.names_of_the_contact_person }}</p>
          <p class="px-2 py-1 my-1 text-sm font-medium">{{ object.emails }}</p>
        </div>
      </div>
      {% endif %}
      <div class="py-2">
        <h2 class="text-base font-semibold">Description</h2>
        <div class="max-w-none prose">
          <p>{{ object.description }}</p>
        </div>
      </div>
    </div>

    <div data-controller="similar-posts" data-similar-posts-post-id-value="{{ post.id }}">
      <h2 class="mt-4 text-lg font-medium text-gray-900">Similar Jobs</h2>
      <div class="mb-4 rounded-md border border-gray-200">
        <ul data-similar-posts-target="container" role="list" class="flex flex-col divide-y divide-gray-200">
          <!-- Similar posts will be inserted here -->
        </ul>
      </div>
    </div>

    <div class="p-6 mx-auto mt-10 max-w-2xl rounded-md border border-gray-500">
      <div class="mx-auto text-center">
          <p class="mx-auto mb-2 text-xl font-semibold text-gray-900">
            Create your own personalized Job Alert
          </p>
          <div class="flex justify-center items-center">
            {% include "components/simple-alert-form.html" with create_alert_form=create_alert_form %}
          </div>
      </div>
    </div>
</main>
{% endblock content %}

{% block schema %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "JobPosting",
      "name": "{{ object.titles.all.0.name|default:'Developer'|replace_quotes }}",
      "title": "{{ object.titles.all.0.name|default:'Developer'|replace_quotes }}",
      "jobLocation": {
        "@type": "Place",
        "address": {% if object.locations %}"{{ object.locations }}"{% else %}"Remote"{% endif %}
      },
      "description": "{{ object.description|safe|replace_quotes }}",
      "datePosted": "{{ object.submitted_datetime|date:'Y-m-d' }}",
      "validThrough": "{{ object.submitted_datetime|plus_days:30|date:'Y-m-d' }}",
      "employmentType": "Full-time",
      {% if object.company_job_application_link %}"url": "{{ object.split_application_links.0 }}",
      "directApply": true,{% endif %}
      "hiringOrganization": {
        "@type": "Organization",
        "name": "{{ object.company.name }}"{% if object.company.company_homepage_link %},
        "sameAs": "{{ object.company.fixed_company_homepage_link }}"{% endif %}
      }
    }
  </script>
{% endblock schema %}
