{% extends "base.html" %}

{% block content %}

<div class="flex flex-col max-w-3xl mx-auto space-y-2">
  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Parse Comments</h3>
      <div class="max-w-xl mt-2 text-sm text-gray-500">
        <p>Enter HN post id for "Who is Hiring".</p>
      </div>
      <div class="mt-5">
        <form method="post" action="">
          {% csrf_token %}
          {{ form }}
          <button type="submit"
            class="inline-flex items-center px-3 py-2 text-sm font-semibold text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
            Trigger Task
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Fix Datetimes</h3>
      <div class="mt-5">
        <a href="{% url 'find-bad-submitted-dates' %}" class="px-5 py-3 text-lg font-semibold text-white bg-blue-600 rounded-md shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          Fix bad subimtted dates
        </a>
      </div>
    </div>
  </div>

  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Populate Min and Max compensation.</h3>
      <div class="mt-5">
        <a href="{% url 'update_min_and_max_salary' %}" class="px-5 py-3 text-lg font-semibold text-white bg-blue-600 rounded-md shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          Populate Min and Max Fields
        </a>
      </div>
    </div>
  </div>

  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Update Vector Fields.</h3>
      <div class="mt-5">
        <a href="{% url 'create_backfill_vector_data_jobs' rebuild=0 %}" class="px-5 py-3 text-lg font-semibold text-white bg-blue-600 rounded-md shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          Populate Empty Vector Fields
        </a>
      </div>
      <!-- <div class="mt-5">
        <a href="{% url 'create_backfill_vector_data_jobs' rebuild=1 %}" class="px-5 py-3 text-lg font-semibold text-white bg-blue-600 rounded-md shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          Rebuild Vector Field
        </a>
      </div> -->
    </div>
  </div>

</div>

{% endblock content %}
