{% extends "base.html" %}
{% load markdown_extras %}
{% load widget_tweaks %}
{% load webpack_loader static %}
{% load url_utils %}

{% block content %}

<div class="max-w-6xl mx-auto">
  <form method="post" action="{% url 'unauthed_alert_unsubscribe' alert_email_send.id %}">
    {% csrf_token %}
    <button
      class="rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
      type="submit">
      Unsubscribe
    </button>
  </form>
</div>

{% endblock content %}
