<li class="rounded-md border border-gray-400">
  <a class="flex flex-col px-6 py-4 space-y-2 bg-white rounded-t-md border-b-2 border-gray-200 hover:bg-gray-50" href="{% url 'post' object.id %}">
    <div class="flex justify-between items-center py-2 w-full">
      <div class="flex-1">
        <div class="flex justify-between items-center">
          {% if show_name %}
          <h3 class="text-lg font-medium text-gray-900 truncate">
            {% if object.company.name %}
              {{ object.company.name }}
            {% else %}
              Stealth
            {% endif %}
          </h3>
          {% endif %}
          <p class="
          {% if show_name %}
          -mt-10 -mr-3 text-xs text-gray-500
          {% else %}
          -mt-3 mb-2 text-sm
          {% endif %}
          ">Posted {{ object.submitted_datetime|timesince }} ago</p>
        </div>
        <p class="text-sm text-gray-600">
          {{ object.description | truncatechars:250 }}
        </p>
      </div>
    </div>
  </a>

    <div class="flex flex-col px-6 py-4 space-y-1 bg-white rounded-b-md">
      {% if object.titles.all.count == 1 and object.titles.all.0.name == "" %}
      {% elif object.titles.all.count >= 1 %}
      <div class="flex py-2 w-full">
          <div>
            <h4 class="text-base">Roles</h4>
            {% for title in object.titles.all %}
                {% include "components/title-link.html" with title=title %}
            {% endfor %}
          </div>
      </div>
      {% endif %}
      {% if object.technologies.all.count == 1 and object.technologies.all.0.name == "" %}
      {% elif object.technologies.all.count > 0 %}
        <div class="flex py-2 w-full">
            <div>
              <h4 class="text-base">Tech Stack</h4>
              {% for technology in object.technologies.all %}
                  {% include "components/technology-link.html" with technology=technology %}
              {% endfor %}
            </div>
        </div>
      {% endif %}
      {% if object.locations %}
      <div class="flex py-2 w-full">
        <div>
          <h2 class="text-base">Locations</h2>
          <div class="max-w-none prose">
            <p>{{ object.locations }}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
</li>
