{% load webpack_loader static %}
{% load widget_tweaks %}

<form
  action="{% url 'create-alert' %}"
  method="post"
  enctype="multipart/form-data"
  class="grid w-full gap-3"
>
{% csrf_token %}
<div>
  <label for="email" class="app-label">Email</label>
  {% if request.user.is_authenticated %}
    {% render_field create_alert_form.email id="email" name="email" type="email" value=request.user.email autocomplete="email" readonly="True" required="True" class="app-input mt-1" %}
  {% else %}
    {% render_field create_alert_form.email id="email" name="email" type="email" autocomplete="email" placeholder="you@example.com" required="True" class="app-input mt-1" %}
  {% endif %}
</div>

<div>
  <label for="technology_selected" class="app-label">Technology</label>
  <div class="mt-1">
    {% if tech_name %}
        {% render_field create_alert_form.technology_selected value=tech_name list="job-technologies" id="technology_selected" name="technology_selected" type="text" placeholder="Select a technology" required="True" class="app-input" %}
    {% else %}
        {% render_field create_alert_form.technology_selected list="job-technologies" id="technology_selected" name="technology_selected" type="text" placeholder="Select a technology" required="True" class="app-input" %}
    {% endif %}
    <datalist id="job-technologies">
      {% for object in popular_technologies %}
        <option value="{{ object.name }}"></option>
      {% endfor %}
    </datalist>
  </div>
</div>

<button type="submit" class="btn-primary w-full">
  Create alert
</button>

</form>
