<li>
  <a class="flex flex-col px-6 py-2 bg-white rounded-md hover:bg-gray-50" href="{% url 'post' object.id %}">
    <div class="flex justify-between items-center py-2 w-full">
      <div class="flex-1">
        <div class="flex justify-between items-center">
          <h3 class="text-sm font-medium text-gray-900 truncate">
            {% if object.company.name %}
              {{ object.company.name }}
            {% else %}
              Stealth
            {% endif %}
          </h3>
        </div>
        <p class="text-xs text-gray-600">
          {{ object.description | truncatechars:150 }}
        </p>
      </div>
    </div>
  </a>
</li>
