{% load webpack_loader static %}
{% load static %}
{% load widget_tweaks %}

<form action="" method="post" class="app-panel">
  {% csrf_token %}
  <div class="grid gap-4">
    {{ form.non_field_errors }}
    <div>
      {{ form.name.errors | safe }}
      <label for="name" class="app-label">Name</label>
      {% render_field form.name id="name" name="name" type="text" autocomplete="given-name" class="app-input mt-1" %}
    </div>
  </div>
  <div class="mt-5 flex justify-end">
    <button type="submit" class="btn-primary">Save changes</button>
  </div>
</form>
